body {
    background: url('nature.jpeg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background-color: #242424;
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.box-article {
    background-color: #333333;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.box-article h1 {
    font-size: 16px;
    font-weight: 500;
}
.box-article .article-pict {
    height: 120px;
    background-color: red;
    overflow: hidden;
}
.box-article .article-pict img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (max-width: 1567px) {
    .container {
        max-width: 1230px;
    }
    .grid-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (max-width: 1255px) {
    .container {
        max-width: 950px;
    }
    .grid-2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
/* Tablet */
@media (max-width: 943px) {
    .container {
        max-width: 650px;
    }
    .grid-2 {
        grid-template-columns: 1fr 1fr;
    }
}
/* Smartphone */
@media (max-width: 631px) {
    .container {
        max-width: 340px;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
}